<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO_Bdqg_6I4KJRVWEkurpAT4t4nlj6CPI</string>
	<key>GCM_SENDER_ID</key>
	<string>118503040210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testUi</string>
	<key>PROJECT_ID</key>
	<string>ohkaraoapp-3258d</string>
	<key>STORAGE_BUCKET</key>
	<string>ohkaraoapp-3258d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118503040210:ios:74eb4a6e055bdd0154790b</string>
</dict>
</plist>